# epinions-1

**Data analysis of epinions-1.csv**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('epinions-1.csv', index_col='class')

In [3]:
df.head(3)

                                                     text
class
Auto     I have recently purchased a J30T with moderat...
Camera   This camera is perfect for anyone who wants t...
Auto     2000 Hyundai Elantra Wagon   if you can find ...