# reuters-allcats

**Data analysis of reuters-allcats.csv**

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('reuters-allcats.csv', index_col='class')

In [10]:
df.head(3)

                                                       text
class
Neg-      2 BAHIA COCOA REVIEW     SALVADOR  Feb 26 - Sh...
Neg-      2 USX ltX DEBT DOWGRADED BY MOODYS     NEW YOR...
Pos-earn  2 COBANCO INC ltCBCO YEAR NET     SANTA CRUZ  ...
Pos-earn  2 BROWN-FORMAN INC ltBFD 4TH QTR NET     LOUIS...
Neg-      2 HUGHES CAPITAL UNIT SIGNS PACT WITH BEAR STE...